<?xml version="1.0" encoding="utf-8"?>
<SettingData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SettingsVersion>0.2.4677.21598</SettingsVersion>
  <ShowFps>false</ShowFps>
  <ShowLatency>false</ShowLatency>
  <AutoSave>true</AutoSave>
  <SaveInterval>300</SaveInterval>
  <SavePath>/serverdata/serverfiles/saves</SavePath>
  <HUDScale>50</HUDScale>
  <TooltipOpacity>0.95</TooltipOpacity>
  <IngamePortrait>true</IngamePortrait>
  <ExtendedTooltips>true</ExtendedTooltips>
  <ChatFadeTimer>10</ChatFadeTimer>
  <DayLength>20</DayLength>
  <LegacyInventory>false</LegacyInventory>
  <ShowSlotToolTips>true</ShowSlotToolTips>
  <ResearchPoolKey>ResearchOff</ResearchPoolKey>
  <DeleteSkeletonOnDecay>false</DeleteSkeletonOnDecay>
  <Monitor>1</Monitor>
  <ScreenWidth>1920</ScreenWidth>
  <ScreenHeight>1080</ScreenHeight>
  <RefreshRate>60</RefreshRate>
  <GraphicQuality>Fantastic</GraphicQuality>
  <TextureQuality>Very High</TextureQuality>
  <FullScreen>true</FullScreen>
  <Vsync>false</Vsync>
  <Shadows>High</Shadows>
  <ShadowResolution>Very High</ShadowResolution>
  <ShadowDistance>100</ShadowDistance>
  <LightShadowDistance>50</LightShadowDistance>
  <RoomControlTickSpeed>1</RoomControlTickSpeed>
  <ShadowNearPlaneOffset>0.2</ShadowNearPlaneOffset>
  <ShadowCascades>4</ShadowCascades>
  <ThingShadowMode>High</ThingShadowMode>
  <WorldOrigin>false</WorldOrigin>
  <Brightness>100</Brightness>
  <FieldOfView>70</FieldOfView>
  <ColorBlind>None</ColorBlind>
  <ParticleQuality>High</ParticleQuality>
  <SoftParticles>true</SoftParticles>
  <EnvironmentElements>true</EnvironmentElements>
  <ExtendedTerrain>true</ExtendedTerrain>
  <VolumeLight>Full</VolumeLight>
  <PixelLightCount>8</PixelLightCount>
  <MaxThingLights>256</MaxThingLights>
  <Antialiasing>SSAA</Antialiasing>
  <FrameLock>Off</FrameLock>
  <AtmosphericScattering>true</AtmosphericScattering>
  <AmbientOcclusion>Ultra</AmbientOcclusion>
  <LensFlares>true</LensFlares>
  <ChunkRenderDistance>150</ChunkRenderDistance>
  <MineableRenderDistance>45</MineableRenderDistance>
  <ThingRenderDistance>12</ThingRenderDistance>
  <DisableWaterVisualizer>true</DisableWaterVisualizer>
  <Clouds>false</Clouds>
  <TerrainClutter>false</TerrainClutter>
  <TerrainClutterMultiplier>1</TerrainClutterMultiplier>
  <DoubleClickDelay>0.18</DoubleClickDelay>
  <HelmetOverlay>true</HelmetOverlay>
  <WeatherEventQuality>High</WeatherEventQuality>
  <MasterVolume>100</MasterVolume>
  <SoundVolume>100</SoundVolume>
  <VoiceNotificationVolume>90</VoiceNotificationVolume>
  <MusicVolume>100</MusicVolume>
  <InterfaceVolume>100</InterfaceVolume>
  <VirtualVoices>1024</VirtualVoices>
  <RealVoices>64</RealVoices>
  <UserSpeakerMode>Stereo</UserSpeakerMode>
  <ServerName>Stationeers Docker</ServerName>
  <StartLocalHost>true</StartLocalHost>
  <ServerVisible>true</ServerVisible>
  <ServerPassword>Docker</ServerPassword>
  <AdminPassword />
  <ServerAuthSecret>adminDocker</ServerAuthSecret>
  <ServerMaxPlayers>15</ServerMaxPlayers>
  <UpdatePort>27015</UpdatePort>
  <GamePort>27500</GamePort>
  <UPNPEnabled>true</UPNPEnabled>
  <UseSteamP2P>true</UseSteamP2P>
  <DisconnectTimeout>10000</DisconnectTimeout>
  <NetworkDebugFrequency>500</NetworkDebugFrequency>
  <LocalIpAddress>0.0.0.0</LocalIpAddress>
  <AutoPauseServer>true</AutoPauseServer>
  <LanguageCode>EN</LanguageCode>
  <VoiceLanguageCode>EN</VoiceLanguageCode>
  <Voice>false</Voice>
  <PopupChat>true</PopupChat>
  <CameraSensitivity>50</CameraSensitivity>
  <Keyboard />
  <InvertMouse>false</InvertMouse>
  <InvertMouseWheelInventory>false</InvertMouseWheelInventory>
  <MenuLite>false</MenuLite>
  <MouseWheelZoom>true</MouseWheelZoom>
  <FirstRun>true</FirstRun>
  <VoiceNotifications />
  <CompletedTutorials />
  <CompletedScenarios />
  <VerticalMovementAxis>
    <Controller>None</Controller>
    <Axis>None</Axis>
  </VerticalMovementAxis>
  <HorizontalMovementAxis>
    <Controller>None</Controller>
    <Axis>None</Axis>
  </HorizontalMovementAxis>
  <ForwardMovementAxis>
    <Controller>None</Controller>
    <Axis>None</Axis>
  </ForwardMovementAxis>
  <VerticalLookAxis>
    <Controller>None</Controller>
    <Axis>None</Axis>
  </VerticalLookAxis>
  <HorizontalLookAxis>
    <Controller>None</Controller>
    <Axis>None</Axis>
  </HorizontalLookAxis>
  <UseCustomWorkThreadsCount>false</UseCustomWorkThreadsCount>
  <MinWorkerThreads>12</MinWorkerThreads>
  <MinCompletionPortThreads>12</MinCompletionPortThreads>
  <MaxWorkerThreads>140</MaxWorkerThreads>
  <MaxCompletionPortThreads>70</MaxCompletionPortThreads>
  <CoroutineTimeBudget>1</CoroutineTimeBudget>
  <SmoothTerrain>false</SmoothTerrain>
  <SmoothTerrainAngle>60</SmoothTerrainAngle>
  <ConsoleBufferSize>1024</ConsoleBufferSize>
  <LegacyCpu>false</LegacyCpu>
</SettingData>
